.profile_ico-section {
    display: flex;
    margin: 20px;
    justify-content: right;
}

.profile_ico {
    color: black;
    font-size: 25px;
}

.profile_edit-ico {
    font-size: 25px;
    margin-top: 3px;
    color: #ffad42;
    /* border: 1px solid #ffa229; */
    background-color: rgba(211, 211, 211, 0.322);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
}

.profile header {
    margin: 25px 0 0 25px;
    display: flex;
    gap: 10px;
}

.profile_header_user-photo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.profile_header-user-info {
    margin-top: 15px;
    margin-left: 30px;
}

.profile_header-user-info__long {
    margin-left: 30px;
    margin-top: 17px;
}


.profile_heder_uid {
    color: rgb(170, 170, 170);
}

.profile_user-contacts-section {
    display: flex;
    justify-content: right;
    margin-right: 10vw;
}

.profile_user-contacts {
    position: relative;
    top: 30px;
    margin-bottom: 5px;
    color: #000000b4;
}

.profile_activity-section {
    display: flex;
    justify-content: space-between;
    margin: 0 5vh 0 5vh;
    margin-top: 10vh;
    text-align: center;
}

.profile_activity-num {
    font-weight: bold;
    font-size: 24px;
    color: #ffa229;
}

.profile_activity-label {
    font-size: 14px;
    color: #8a683b;
}

.profile .inbetweenline {
    margin-top: 40px;
    height: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}

.profile_sch_header {
    margin: 25px;
    font-size: 25px;
}

.profile_sch_txt {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    color: #d4d4d4;
}

.rece_back-btn-user-view {
    background-color: rgb(255, 160, 19) !important;
    border: none;
    font-size: 22px;
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    color: rgb(214, 214, 214);
    text-decoration: none;
}

.profile_active-order-head {
    font-size: 20px;
    margin: 20px;
    color: rgb(36, 36, 36);
}

.profile_trafic__high {
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 7px 20px 20px;
}

.profile_trafic__low {
    color: #ff9900;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 7px 20px 20px;

}

.profile_trafic__normal {
    color: #00e932;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 7px 20px 20px;



}

.trafci-txt-profile {
    display: flex;
    align-items: center;

}

.special-badge {
    font-size: 14px;
    color: rgb(53, 147, 255);
    font-weight: bold;
    margin-left: 30px;
    margin-top: 10px;
}

@media (min-width:852px) {
    .profile_content-container {
        margin: 10vh 15vw 0vh 15vw;
    }

    .profile_header_user-photo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .profile_edit-ico {
        font-size: 25px;
        margin-top: 3px;
        color: #ffad42;
        /* border: 1px solid #ffa229; */
        background-color: rgba(97, 97, 97, 0.13);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 50%;
        margin-right: 5vw;

    }

    .profile_user-contacts-section {
        display: flex;
        justify-content: left;
        margin-left: 13.5vw;

    }

    .profile_active-order-head {
        font-size: 25px;
        margin: 20px;
        color: rgb(36, 36, 36);
    }


    .profile_activity-label {
        font-size: 20px;
        color: #8a683b;
    }

    .profile_activity-num {
        font-weight: bold;
        font-size: 35px;
        color: #ffa229;
    }

    .profile_activity-section {
        display: flex;
        justify-content: space-between;
        margin: 0 10vh 0 10vh;
        margin-top: 12vh;
        text-align: center;
    }


    .profile_heder_user-name {
        font-size: 30px;
        color: #ffa229;

    }

    .profile_heder_user-name__long {
        font-size: 30px;
        color: #ffa229;

    }

    .profile_heder_uid {
        color: rgb(170, 170, 170);
        font-size: 20px;
    }

    .special-badge {
        font-size: 18px;
        color: rgb(53, 147, 255);
        font-weight: bold;
        margin-left: 30px;
        margin-top: 10px;
    }

}

@media (max-width:851px) {
    .profile_open-order-container {
        margin: 20px;
        overflow-y: scroll;
        height: 36.8%;
        padding-bottom: 5px;
    }

    .profile_open-order_cart-header{
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        color: rgb(255, 157, 29);

    }
    .profile_cart-items-continaer{
        margin-left: 25px;
        margin-bottom: 15px;
    }
    .profile_open-order_total{
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin-top: 18px;
        color: rgb(255, 157, 29);
    }
    .profile_open-order_tkt-type span{
        color: rgb(255, 157, 29);

        font-weight: bold;
    }
    .profile_no-open-order-msg{
        font-weight: bold;
        font-size: 22px;
    }
    .profile_heder_user-name {
        font-size: 22px;
        color: #ffa229;
        margin-top: -10px;
    
    }
    
    .profile_heder_user-name__long {
        font-size: 21px;
        width: 50vw;
        margin-top: -15px;
        color: #ffa229;
    
    }
    
}
