@media (max-width:851px) {
    .settings-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7vh;
    }

    .setttings_prfoile-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .settings_head {
        font-weight: bold;
        margin-bottom: 25px;
        color: rgb(102, 102, 102);

    }

    .settings_username {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    .settings-line {
        margin-bottom: 30px;
        margin-top: 30px;
        border: .5px solid rgb(218, 218, 218);


    }

    .settings_main-label {
        font-size: 14px;
        font-weight: bold;

        color: rgb(117, 117, 117);
        margin-bottom: 10px;
    }

    .settings_main {
        margin: 25px;
    }

    .settings-list-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .settings-arr-ico {
        font-size: 22px;
    }

    .settings-btn {
        font-weight: bold;
        color: black;
    }

    .settings-arr-ico__logout {
        color: rgb(255, 0, 0);
        font-weight: bold;
        
    }
    .settings-logout-btn {
        color: rgb(255, 0, 0);
        font-size: 17px;
        font-weight: bold;
        margin-top: 6vh;

    }
}

@media (min-width:852px) {
    .settings-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
    }

    .setttings_prfoile-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    .settings_head {
        font-weight: bold;
        margin-bottom: 25px;
        font-size: 25px;
        color: rgb(102, 102, 102);

    }

    .settings_username {
        margin-top: 10px;
        font-weight: bold;
        font-size: 25px;
    }

    .settings-line {
        margin-bottom: 30px;
        margin-top: 30px;
        border: .5px solid rgb(218, 218, 218);


    }

    .settings_main-label {
        font-size: 20px;
        font-weight: bold;

        color: rgb(117, 117, 117);
        margin-bottom: 10px;
    }

    .settings_main {
        margin: 25px;
    }

    .settings-list-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .settings-arr-ico {
        font-size: 25px;
    }

    .settings-btn {
        color: black;
        font-weight: bold;
        font-size: 24px;
    }

    .settings-logout-btn {
        color: rgb(255, 0, 0);
        font-weight: bold;
        margin-top: 4vh;
        font-size: 25px;
        cursor: pointer;

    }
    
    .settings-login-btn {
        color: rgb(0, 223, 130);
        font-weight: bold;
        margin-top: 4vh;
        font-size: 25px;
        cursor: pointer;
    }

    .settings-arr-ico__logout {
        color: rgb(255, 0, 0);

    }

}