.dashboard_header-name{
    margin-top: 10px;
    font-size: 16px;
}
.dashusers_back-ico {
    margin: 12.5px ;
    color: black;

}
.dash-users-header-nav{
    display: flex;
}
.dashboard-users_search-ico{
    margin-left: 25px;
    margin-top: -2px;
    background-color: transparent;
    border: 1px solid rgb(240, 240, 240);
    font-size: 17px;
    width: 200px;
    height: 30px;
    padding: 3px 0px 3px 15px ;
    border-radius: 25px;
}
.dashboard_users_container{
    margin: 5%;
}
.dashboard_user-container{

  
}
.dashboard_user-flex{
    display: flex;

}
.dashboard_user-flex img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@media (max-width:800px) {
    .dashboard_user-info{
        overflow-x: scroll;
    }
    
}

.dashboard_user-info p{
    font-size: 12px;
}
.dashboard_user-name{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
}

.dashboard_users_container{
    margin-top: 20px;
    max-width: 100vw;
    overflow-x: scroll;
}
.dashboard_user-community-btn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    position: relative;
}

.dashboard_user-flex{
    display: grid;
    align-items: center;
    grid-template-columns: 85px 200px 150px 400px 200px 50px;
    border-bottom: 1px solid rgba(206, 206, 206, 0.678);
    padding: 7px;
    width: fit-content;

}