.home_showMore__active {
    height: 100vh;
    width: 100%;
    background-color: rgb(243, 240, 240);
    position: fixed;
    color: black;
    top: 0;
    left: 0;
    z-index: 10001;
    transition: ease-in-out .6s;
    
}

.home-more_x-icon {
    font-size: 30px;
    color: black;
    position: absolute;
    right: 25px;
    top: 50px;
}

.homemore-header {
    padding: 40px 15px 7vh 15px;
}

.home_showmore_userpic {
    width: 45px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 10px 1px rgb(223, 223, 223);
}

.home_showMore__inactive {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 173, 50);
    position: absolute;
    top: -200vh !important;
    right: 0;
    transition: ease-in-out .6s;
    z-index: 10001;

}

.home_showmore-nav-sect {
    margin: 7vh 0 0 10vw;
}

.homeMore-flex-db {
    display: flex;
    gap: 10px;
    font-size: 19px;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.637);

}

.home_shomore_nav-option {
    display: flex;
    justify-content: space-between;
    padding-right: 5vw;
}


.homeMore-flex-db p {
    font-weight: bold;

}

.shomore-home-arr-ico {
    font-size: 20px;
}

.secndsection-optoins {
    margin-left: 10vw;
    margin-top: 5vh;

}

.shomoreline {
    border: .5px solid rgba(102, 102, 102, 0.541);
    margin-top: 25px;
}

.secndsection_optoin-name {
    color: rgba(0, 0, 0, 0.842);
    font-size: 19px;
    margin-bottom: 5px;
    font-weight: bold;
    text-decoration: none;

}
.homeMore-link{
    text-decoration: none;
    color: black;
}


.social-link-ico {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.747);
    margin: 22px;
}

.sochail-links-section {
    position: absolute;
    left: 8vw;
    bottom: 10vh;

}

.showmore-home-logout-btn {
    display: flex;
    justify-content: space-between;
    margin: 6vh 5vw 0 11vw;
    font-weight: bold;
    color: red;
}

.home-more-admin-links {
    display: flex;
    justify-content: center;
    margin-left: -7vw;
}

.home-more_admin-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 152, 56);
    margin: 8px;
    padding: 8px 12px 8px 12px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: underline;
}
