@media (min-width:650px) {

    /* .home nav {
        display: none;
    } */

    .home {
        height: 100vh;
        position: relative;
    }

    .db-n-mb {
        display: flex;
        gap: 10vw;
        align-items: center;
    }

    .home_circle_container {
        display: none;
    }

    .home_header {
        padding-top: 10px;
        padding-left: 11vw;
        padding-bottom: 90vh;
        margin-bottom: -90vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10vw;
        background: rgb(255, 255, 255);
        /* background: linear-gradient(-14deg, rgba(255, 255, 255, 1) 10%, rgb(224, 224, 224) 90%); */

    }

    .home_nav_login {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        margin-left: 25px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }

    .active-link {
        font-weight: bold;
        border-bottom: 1px solid black;
        position: relative;
    }

    .home_img-btn-div {
        display: flex;
        align-items: center;
    }

    .home_nav-container {
        display: flex;
        gap: 20px;

    }

    .home_nav-link {
        list-style: none;
        font-size: 18px;
        font-family: montserrat-light;
        color: rgb(26, 25, 25);
    }

    .home_user-photo {
        width: 35px;

    }

    .home_logo {
        width: 50px;
    }

    .home_name {
        font-family: montserrat-black;
        font-size: 40px;
        text-align: center;

    }

    .home_name span {
        font-family: montserrat-regular;
        font-size: 35px;
    }

    .home_logo {
        width: 125px;
        display: none;
    }

    .home main {
        margin-left: 10vw;
    }

    .home_slogan {
        margin: 15vh 0 5vh 0px;
        font-size: 60px;
        width: 50vw;
        color: #000000;
        font-family: montserrat-bold;
    }

    .home_section-1-header {
        color: #ff9811;
        font-size: 25px;
    }

    .home_sectio-1-main {
        font-size: 30px;
        width: 35vw;
        margin-top: 5px;
    }

    .home_section-1-btn {
        position: relative;
        top: 25px;
        color: rgb(0, 0, 0);
        border: 2px solid #ffa229;
        background-color: #ffffff;
        padding: 10px 20px 10px 20px;
        font-weight: bold;

    }

    .home_section-1-btn:hover {
        position: relative;
        top: 25px;
        color: rgb(0, 0, 0);
        background-color: #ffa229;
        padding: 10px 20px 10px 20px;
        font-weight: bold;
    }

    .home_section-1-login-link {
        position: relative;
        top: 25px;
        color: rgb(0, 0, 0);
        border: 2px solid #ffa229;
        background-color: #ffffff;
        padding: 10px 10px 10px 10px;
        font-weight: bold;
    }

    .home_section-1-login-link:hover {
        position: relative;
        top: 25px;
        color: rgb(0, 0, 0);
        background-color: #ffa229;
        padding: 10px 10px 10px 10px;
        font-weight: bold;
    }

    .homee_section-1-img {
        position: absolute;
        width: 450px;
        right: 50px;
        bottom: 0;
        z-index: 5;
    }

    .home_main-alone_trafic {
        justify-content: left;
        display: flex;
        z-index: 6;

    }


    .home_main-alone_trafic span {
        position: absolute;
        top: 60%;
        font-weight: 1;
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

    .home_main-alone_trafic-low {
        background-color: rgb(121, 182, 134) !important;
        font-weight: 400;
        width: 17vw;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 150px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 6;

    }

    .home_main-trafic__high {
        background-color: rgb(238, 59, 59) !important;
        font-weight: 400;
        width: 17vw;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 150px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 6;

    }

    .home_main-trafic__normal {
        background-color: rgb(121, 182, 134) !important;
        font-weight: 400;
        width: 17vw;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 150px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 6;

    }

    .home_main-aloone-div {
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
        position: relative;
        width: 42vw;
        height: 150px;
        background-color: rgb(95, 63, 45);
        margin-top: 30px;
        z-index: 6;


    }

    .home_link_div-container {
        display: flex;
        align-items: center;
        margin-top: 5px;
        gap: 5px;
        width: 42vw;
    }

    .home_main-halloween-event-div {
        background-color: rgb(255, 170, 42);
        font-weight: 400;
        width: 37vw;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 150px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 6;

    }

    .home_comm-ico {
        font-size: 20px;
        position: relative;
        top: 3px;

    }

    .home_main-Link-div {
        color: white;

    }

    .home_main-aloone-div span,
    .home_main-halloween-event-div span {
        position: absolute;
        top: 60%;
        display: block;
        text-align: center;
        font-size: 14px;
        margin: auto;
        right: 0;
        left: 0;
        font-weight: 1;
    }

    .home_halloween-container {

        background-color: rgb(255, 164, 28);
        position: relative;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120vh;
    }

    .home_halloween-img {
        width: 400px;
        position: absolute;
        bottom: 0;
        z-index: 10;
    }

    .home_halloween_header {
        font-family: montserrat-ExtraBold;
        font-size: 110px;
        color: white;
        text-align: center;
        z-index: 11;
        margin-top: 20vh;
    }

    .home_halloween_header span {
        font-size: 100px;
        font-family: montserrat-ExtraBold;
        position: relative;
        top: -15px;
        z-index: 11;


    }

    .home_halloween-sub-header {
        text-align: center;
        color: rgba(0, 0, 0, 0.89);
        font-size: 35px;
        position: relative;
        top: -15px;
        font-weight: bold;
        z-index: 11;

    }

    .home_halloween-btn {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 20px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 35px;
        text-decoration: none;
        z-index: 99999;
    }

    .home_halloween-btn:hover {
        background-color: black;
        border: 4px solid rgb(0, 0, 0);
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 20px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 35px;
        text-decoration: none;
        z-index: 99999;
    }


    .home-page-second-section {
        padding-top: 10vh;
        /* background: rgb(255, 255, 255); */
        /* margin-bottom: 200px; */
        background-color: #000000;

    }

    .s2_header {
        margin-left: 5vw;
        color: white;
        font-size: 40px;
        width: 45vw;
        font-family: montserrat-bold;
    }

    .home-s2_map {
        border: none;
        width: 100%;
        display: block;
        margin: 0vh auto auto auto;
        height: 100vh;

    }

    .dnaTree {
        width: 600px;
        height: 600px;
        position: absolute;
        right: 10vw;
        bottom: -20px;
    }

    .home-page-third-section {
        width: 100%;
        background-color: rgb(241, 241, 241);
        height: 100vh;
        position: relative;
        padding-top: 0vh;
        padding-bottom: 18vh;
        display: flex;
        justify-content: space-between;
        margin-top: -29vh;
    }

    .home-third_header {
        font-weight: bold;
        font-size: 50px;
        margin-left: 10vw;
        margin-top: 30vh;
    }

    .home-third_sub-header {
        margin-left: 10vw;
        margin-top: 2vh;
        color: rgb(59, 59, 59);
        font-size: 30px;
    }

    .home-third_sub-header-link {
        font-weight: bold;
        color: rgb(255, 169, 41);
        text-decoration: underline;
    }

    .home-page-second-section {
        padding-top: 13vh;
        /* background: rgb(248, 250, 248); */
        background-color: #9CC0F9;
    }

    .s2_header {
        margin-left: 5vw;
        font-size: 48px;
        width: 80vw;
        font-family: montserrat-bold;
        color: white;
    }

    .home-s2_map {
        border: none;
        margin-top: 50px;
        width: 100%;
        display: block;
        margin: 4vh auto auto auto;
        height: 100vh;
        padding-bottom: 10vh;

    }

    .copy-right-footer {
        padding-bottom: 20px;
        padding-top: 55px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;

    }

    .copy-right-ico {
        position: relative;
        top: 2.5px;
        margin-right: 2px;
    }

    .home_burger-menu-icon {
        display: none;
    }

    .home_forth-section {
        background-color: rgb(241, 241, 241);
        border-bottom: 1px solid rgb(255, 145, 43);
        border-top: 1px solid rgb(255, 145, 43);
        display: flex;
        justify-content: space-between;
        padding-right: 20vw;
        overflow: hidden;

    }

    .home_forth-secition-music-img {
        width: 300px;
        position: relative;

    }

    .home_forth-section .home_forth_txt {
        font-weight: bold;
        font-size: 57px;
        margin-left: -24px;
        margin-top: 32vh;
        font-family: montserrat-bold;
        text-align: center;
    }

    .home_forth-section .home_forth_txt span {
        font-family: montserrat-bold;
        font-size: 70px;
        color: rgb(255, 163, 43);
        position: relative;
        top: 5px;
        right: 15px;
    }

    .home_forth-subtxt {
        margin-left: -2.5vw;
        margin-top: 10vh;
        font-size: 30px;
        font-weight: bold;
        color: transparent;
    }

    .home_forth-link {
        text-transform: capitalize;
        color: rgb(0, 0, 0);
        border: 3px solid black;
        padding: 20px 10px 20px 10px;
        font-weight: bold;
    }

    .home_forth-link:hover {
        background-color: rgb(255, 164, 28);
        border: 3px solid rgb(255, 164, 28);
    }



    .home_fifth-section {
        padding-top: 150px;
        background-color: rgb(241, 241, 241);
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;
    }

    .home_fifth-secition-music-img {
        position: absolute;
        width: 30vw;
        right: 0;
        bottom: 1vh;

    }

    .home_fifth-section h1 {
        font-size: 80px;
        font-weight: bold;
        margin-left: 10vw;
        width: 50vw;

    }

    .home_fifth-section h1 span {
        font-size: 80px;
        color: rgb(255, 175, 56);
        font-weight: bold;
    }

    .home_fifth-section p {
        font-size: 50px;
        margin-left: 10vw;

    }

    .home_trafic-teller {
        font-weight: bold;
        margin-bottom: 7vh;
        font-size: 25px;
    }



}

@media (min-width:649px) and (max-height:400px) {


    .home {
        background: rgb(255, 255, 255);
        /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(238, 240, 238) 63%, rgba(255, 255, 255, 1) 100%); */
        padding-bottom: 14vh;
        overflow: hidden;
        width: 100vw;
        height: 160%;
        /* background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 65%, rgba(255, 166, 50, 1) 100%); */
    }

    .mbid {
        display: none;
    }

    .home_circle_container {
        display: none;
    }

    .home_header {
        padding-top: 29px;
    }

    .db-n-mb {
        display: none;
    }

    .home_name {
        font-family: montserrat-black;
        font-size: 30px;
    }

    .home_name span {
        font-family: montserrat-regular;
        font-size: 25px;
    }

    .home_logo {
        width: 125px;
    }

    .home main {
        margin-left: 30px;
    }

    .home_slogan {
        margin: 8vh 0 30px 0px;
        font-size: 38px;
        font-family: montserrat-bold;
        width: 40vw;
        color: rgb(63, 60, 54);
    }

    .home_main-flex-container {
        display: flex;
        width: 90vw;
        gap: 5vw;

    }

    .home_section-1-header {
        font-weight: bold;
        color: rgb(255, 169, 41);

        font-size: 20px;
    }

    .home_sectio-1-main {
        font-display: 18px;
        width: 85vw;
        margin-top: 5px;
    }

    .home_section-1-btn {
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-size: 18px;
        color: rgb(27, 27, 27);
        border: 1.4px solid black;
        padding: 7px 15px 7px 15px;
        position: relative;
        top: 20px;

        /* color: #000000; */
    }

    .homee_section-1-img {
        width: 300px;
        margin-left: -10vw;
    }

    .home_main-alone_trafic {
        justify-content: left;
        display: flex;
    }


    .home_main-alone_trafic span {
        position: absolute;
        top: 60%;
        font-weight: 1;
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

    .home_main-alone_trafic-low {
        background-color: rgb(121, 182, 134) !important;
        font-weight: 400;
        width: 20vw;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 100px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home_main-aloone-div {
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
        position: relative;
        width: 45vw;
        height: 100px;
        background-color: rgb(95, 63, 45);
        margin-top: 30px;

    }

    .home_link_div-container {
        display: flex;
        align-items: center;
        margin-top: 5px;
        gap: 5px;
        width: 45vw;
    }

    .home_main-halloween-event-div {
        background-color: rgb(255, 170, 42);
        font-weight: 400;
        width: 40vw;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 100px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home_comm-ico {
        font-size: 20px;
        position: relative;
        top: 3px;

    }

    .home_main-Link-div {
        color: white;

    }

    .home_main-aloone-div span,
    .home_main-halloween-event-div span {
        position: absolute;
        top: 60%;
        display: block;
        text-align: center;
        font-size: 14px;
        margin: auto;
        right: 0;
        left: 0;
        font-weight: 1;
    }

    .home_halloween-container {

        background-color: rgb(255, 164, 28);
        position: relative;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200vh;
    }

    .home_halloween-img {
        width: 600px;
        position: absolute;
        z-index: 10;
    }

    .home_halloween_header {
        font-family: montserrat-ExtraBold;
        font-size: 110px;
        color: white;
        text-align: center;
        z-index: 11;
        margin-top: 20vh;
    }

    .home_halloween_header span {
        font-size: 100px;
        font-family: montserrat-ExtraBold;
        position: relative;
        top: -15px;
        z-index: 11;


    }

    .home_halloween-sub-header {
        text-align: center;
        color: rgba(0, 0, 0, 0.89);
        font-size: 35px;
        position: relative;
        top: -15px;
        font-weight: bold;
        z-index: 11;

    }

    .home_halloween-btn {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 20px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 35px;
        text-decoration: none;
        z-index: 99999;
    }

    .home_halloween-btn:hover {
        background-color: black;
        border: 4px solid rgb(0, 0, 0);
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 20px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 35px;
        text-decoration: none;
        z-index: 99999;
    }


    .home-page-second-section {
        padding-top: 10vh;
        /* background: rgb(255, 255, 255); */
        background-color: #000000;

    }

    .s2_header {
        margin-left: 5vw;
        color: white;
        font-size: 40px;
        width: 45vw;
        font-family: montserrat-bold;
    }

    .home-s2_map {
        border: none;
        width: 100%;
        display: block;
        margin: 0vh auto auto auto;
        height: 100vh;

    }

    .dnaTree {
        width: 600px;
        height: 600px;
        position: absolute;
        right: 10vw;
        bottom: -20px;
    }

    .home-page-third-section {
        width: 100%;
        background-color: rgb(241, 241, 241);
        height: 200vh;
        position: relative;
        padding-top: 0vh;
        padding-bottom: 18vh;
        display: flex;
        justify-content: space-between;
        margin-top: -29vh;
    }

    .home-third_header {
        font-weight: bold;
        font-size: 50px;
        margin-left: 10vw;
        margin-top: 30vh;
    }

    .home-third_sub-header {
        margin-left: 10vw;
        margin-top: 2vh;
        color: rgb(59, 59, 59);
        font-size: 30px;
    }

    .home-third_sub-header-link {
        font-weight: bold;
        color: rgb(255, 169, 41);
        text-decoration: underline;
    }

    .home-page-second-section {
        padding-top: 13vh;
        /* background: rgb(248, 250, 248); */
        background-color: #9CC0F9;
    }

    .s2_header {
        margin-left: 5vw;
        font-size: 48px;
        width: 80vw;
        font-family: montserrat-bold;
        color: white;
    }

    .home-s2_map {
        border: none;
        margin-top: 50px;
        width: 100%;
        display: block;
        margin: 4vh auto auto auto;
        height: 100vh;
        padding-bottom: 10vh;

    }

    .copy-right-footer {
        padding-bottom: 20px;
        padding-top: 55px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;

    }

    .copy-right-ico {
        position: relative;
        top: 2.5px;
        margin-right: 2px;
    }

    .home_burger-menu-icon {
        display: none;
    }

    .home_forth-section {
        background-color: rgb(241, 241, 241);
        border-bottom: 1px solid rgb(255, 145, 43);
        border-top: 1px solid rgb(255, 145, 43);
        display: flex;
        height: 150vh;
        justify-content: space-between;
        padding-right: 5vw;
        overflow: hidden;

    }

    .home_forth-secition-music-img {
        width: 300px;
        position: relative;

    }

    .home_forth-section .home_forth_txt {
        font-weight: bold;
        font-size: 57px;
        margin-left: -24px;
        margin-top: 32vh;
        font-family: montserrat-bold;
        text-align: center;
    }

    .home_forth-section .home_forth_txt span {
        font-family: montserrat-bold;
        font-size: 70px;
        color: rgb(255, 163, 43);
        position: relative;
        top: 5px;
        right: 15px;
    }

    .home_forth-subtxt {
        margin-left: 2.5vw;
        margin-top: 10vh;
        font-size: 30px;
        font-weight: bold;
        color: transparent;
    }

    .home_forth-link {
        text-transform: capitalize;
        color: rgb(0, 0, 0);
        border: 3px solid black;
        padding: 20px 10px 20px 10px;
        font-weight: bold;
    }

    .home_forth-link:hover {
        background-color: rgb(255, 164, 28);
        border: 3px solid rgb(255, 164, 28);
    }



    .home_fifth-section {
        padding-top: 150px;
        background-color: rgb(241, 241, 241);
        display: flex;
        flex-direction: column;
        height: 200vh;
        position: relative;
    }

    .home_fifth-secition-music-img {
        position: absolute;
        width: 30vw;
        right: 0;
        bottom: 1vh;

    }

    .home_fifth-section h1 {
        font-size: 80px;
        font-weight: bold;
        margin-left: 10vw;
        width: 50vw;

    }

    .home_fifth-section h1 span {
        font-size: 80px;
        color: rgb(255, 175, 56);
        font-weight: bold;
    }

    .home_fifth-section p {
        font-size: 50px;
        margin-left: 10vw;

    }

    .home_trafic-teller {
        font-weight: bold;
        margin-bottom: 7vh;
        font-size: 25px;
    }

}

@media (max-width:649px) {
    .home_logo {
        display: none;
    }

    .home {
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(238, 240, 238) 63%, rgba(255, 255, 255, 1) 100%);
        overflow: hidden;
        width: 100vw;
        height: 100%;
        /* background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 65%, rgba(255, 166, 50, 1) 100%); */
    }

    .mbid {
        display: none;
    }

    .home_circle_container {
        display: none;
    }

    .home_header {
        padding-top: 29px;
    }

    .db-n-mb {
        display: none;
    }

    .home_name {
        font-family: montserrat-black;
        font-size: 30px;
    }

    .home_name span {
        font-family: montserrat-regular;
        font-size: 25px;
    }

    .home_logo {
        width: 125px;
    }

    .home main {
        margin-left: 30px;
    }

    .home_slogan {
        margin: 8vh 0 30px 0px;
        font-size: 38px;
        font-family: montserrat-bold;
        width: 90vw;
        color: rgb(63, 60, 54);
    }

    .home_section-1-header {
        font-weight: bold;
        color: rgb(255, 169, 41);

        font-size: 20px;
    }

    .home_sectio-1-main {
        font-display: 18px;
        width: 85vw;
        margin-top: 5px;
    }

    .home_section-1-btn {
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-size: 18px;
        color: rgb(27, 27, 27);
        border: 1.4px solid black;
        padding: 7px 15px 7px 15px;
        position: relative;
        top: 20px;

        /* color: #000000; */
    }

    .homee_section-1-img {
        width: 350px;
        margin-left: -10vw;
        margin-top: -2vh;
    }

    .home_header header {
        display: flex;
        justify-content: space-between;
        margin: 0 10vw 5vh 10vw;
        align-items: center;
    }

    .home_burger-menu-icon {
        font-size: 30px;
        position: fixed;
        top: 30px;
        right: 30px;
        background-color: rgba(255, 255, 255, 0.26);
        border-radius: 50%;
        padding: 3px;
        z-index: 999999;
    }

    .home_section-1-login-link {
        position: relative;
        top: 25px;
        color: rgb(0, 0, 0);
        border: 1.4px solid #000000;
        padding: 10px 7px 10px 7px;
        font-weight: bold;
    }

    .home-page-second-section {
        padding-top: 13vh;
        background: rgb(248, 250, 248);
        background-color: #9CC0F9;
    }

    .s2_header {
        margin-left: 5vw;
        font-size: 28px;
        width: 80vw;
        font-family: montserrat-bold;
        color: white;
    }

    .home-s2_map {
        border: none;
        margin-top: 50px;
        width: 100%;
        display: block;
        margin: 4vh auto auto auto;
        height: 100vh;

    }

    .dnaTree {
        width: 450px;
        position: relative;
        display: block;
        margin: auto;
        right: 40;


    }

    .home-page-third-section {
        width: 100%;
        background-color: rgb(241, 241, 241);
        padding-top: 20vh;
        padding-bottom: 18vh;
        overflow: hidden;
    }

    .home-third_header {
        font-weight: bold;
        font-size: 20px;
        margin-left: 10vw;
    }

    .home-third_sub-header {
        margin-left: 10vw;
        margin-top: 1vh;
        color: rgb(59, 59, 59);
    }

    .home-third_sub-header-link {
        font-weight: bold;
        color: rgb(255, 169, 41);
        text-decoration: underline;
    }

    .copy-right-footer {
        padding-bottom: 70px;
        font-size: 11px;
        text-align: center;

    }

    .copy-right-ico {
        position: relative;
        top: 1.5px;
        margin-right: 2px;
    }

    .home_halloween-container {
        background-color: rgb(255, 164, 28);
        height: 100vh;
        position: relative;
        overflow: hidden;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home_halloween-img {
        width: 400px;
        position: relative;
        bottom: 0;
    }

    .home_halloween_header {
        font-family: montserrat-ExtraBold;
        font-size: 70px;
        color: white;
        text-align: center;
        margin-top: 10vh;
    }

    .home_halloween_header span {
        font-size: 70px;
        font-family: montserrat-ExtraBold;
        position: relative;
        top: -15px;

    }

    .home_halloween-sub-header {
        text-align: center;
        color: rgba(0, 0, 0, 0.89);
        font-size: 25px;
        position: relative;
        top: -15px;
        font-weight: bold;
    }

    .home_halloween-btn {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-top: 20px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 35px;
        text-decoration: none;
        z-index: 99999;
    }

    .home_forth-section {
        background-color: rgb(241, 241, 241);
        border-bottom: 1px solid rgb(255, 145, 43);
        border-top: 1px solid rgb(255, 145, 43);
        display: flex;
        overflow: hidden;

    }

    .home_forth-secition-music-img {
        width: 225px;

    }

    .home_forth-section .home_forth_txt {
        font-weight: bold;
        font-size: 27px;
        margin-left: -24px;
        margin-top: 32vh;
        font-family: montserrat-bold;
        text-align: center;
    }

    .home_forth-section .home_forth_txt span {
        font-family: montserrat-bold;
        font-size: 32px;
        color: rgb(255, 163, 43);
        position: relative;
        top: 5px;
        right: 15px;
    }

    .home_forth-subtxt {
        margin-left: 1vw;
        margin-top: 5vh;
        font-size: 15px;
        font-weight: bold;
        color: transparent;
    }

    .home_forth-link {
        padding: 15px 10px 15px 10px;
        text-transform: capitalize;
        color: black;
        border: 1px solid black;
    }

    .home_forth-link:active {
        background-color: #fa800e;
        border: 1px solid #fa800e;
    }

    .home_fifth-section {
        padding-top: 150px;
        background-color: rgb(241, 241, 241);
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;
    }

    .home_fifth-secition-music-img {
        position: absolute;
        width: 70vw;
        right: 0;
        top: 50vh;

    }

    .home_fifth-section h1 {
        font-size: 40px;
        font-weight: bold;
        margin-left: 20px;
    }

    .home_fifth-section h1 span {
        font-size: 12vw;
        color: rgb(255, 175, 56);
        font-weight: bold;
    }

    .home_fifth-section p {
        font-size: 20px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .home_trafic-teller {
        font-weight: bold;
        margin-bottom: 7vh;
    }

    .home_main-alone_trafic {
        justify-content: left;
        display: flex;
    }

    .home_link_div-container {
        display: flex;
        align-items: center;
        margin-top: 5px;
        gap: 5px;
        width: 90vw;
    }

    .home_main-alone_trafic span {
        position: absolute;
        top: 60%;
        font-weight: 1;
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

    .home_main-alone_trafic-low {
        background-color: rgb(172, 172, 172) !important;
        font-weight: 400;
        width: 32vw;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 100px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home_main-trafic__high {
        background-color: rgb(238, 59, 59) !important;
        font-weight: 400;
        width: 32vw;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 100px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home_main-trafic__normal {
        background-color: rgb(121, 182, 134) !important;
        font-weight: 400;
        width: 32vw;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 100px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home_main-aloone-div {
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
        position: relative;
        width: 84vw;
        height: 100px;
        background-color: rgb(95, 63, 45) !important;

    }

    .home_main-halloween-event-div {
        background-color: rgb(255, 169, 40);
        font-weight: 400;
        width: 56.5%;
        font-weight: bold;
        position: relative;
        border-radius: 5px;
        height: 100px;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home_comm-ico {
        font-size: 20px;
        position: relative;
        top: 3px;

    }

    .home_main-Link-div {
        color: white;

    }

    .home_main-aloone-div span,
    .home_main-halloween-event-div span {
        position: absolute;
        top: 60%;
        display: block;
        text-align: center;
        font-size: 14px;
        margin: auto;
        right: 0;
        left: 0;
        font-weight: 1;
    }

}