@media (min-width:650px) {

    .home nav {
        display: none;
    }


    .db-n-mb {
        display: flex;
        gap: 10vw;
        align-items: center;
    }

    .home_circle_container {
        display: none;
    }

    .home_header {
        padding-top: 10px;
        padding-left: 11vw;
        padding-bottom: 90vh;
        margin-bottom: -90vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 10vw;
        background: rgb(255, 255, 255);
        /* background: linear-gradient(-14deg, rgba(255, 255, 255, 1) 10%, rgb(224, 224, 224) 90%); */

    }

    .home_nav_login {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        margin-left: 25px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }

    .active-link {
        font-weight: bold;
        border-bottom: 1px solid black;
        position: relative;
    }

    .home_img-btn-div {
        display: flex;
        align-items: center;
    }

    .home_nav-container {
        display: flex;
        gap: 20px;

    }

    .home_nav-link {
        list-style: none;
        font-size: 18px;
        font-family: montserrat-light;
        color: rgb(26, 25, 25);
    }

    .home_user-photo {
        width: 35px;

    }

    .home_logo {
        width: 50px;
    }

    .home_name {
        font-family: montserrat-black;
        font-size: 40px;
        text-align: center;

    }

    .home_name span {
        font-family: montserrat-regular;
        font-size: 35px;
    }

    .home_logo {
        width: 125px;
        display: none;
    }

    .home main {
        margin-left: 10vw;
    }

    .home_slogan {
        margin: 20vh 0 5vh 0px;
        font-size: 60px;
        width: 50vw;
        color: #ff9811;
    }

    .home_section-1-header {
        color: rgb(78, 78, 78);
        font-family: montserrat-light;
        font-size: 25px;
    }

    .home_sectio-1-main {
        font-size: 25px;

        width: 35vw;
        margin-top: 5px;
    }

    .home_section-1-btn {
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-size: 25px;
        color: #ff9811;
        font-family: montserrat-black;
        text-decoration: none;
    }

    .hom_section-1-img {
        width: 40%;
        position: absolute;
        top: 40vh;
        right: 10vw
    }

    .home-page-second-section {
        margin-top: 25vh;
        padding-top: 10vh;
        background: rgb(255, 255, 255);
        margin-bottom: 200px;
        background-color: #9CC0F9;

    }

    .s2_header {
        margin-left: 5vw;
        color: white;
        font-size: 40px;
        width: 45vw;
        font-family: montserrat-bold;
    }

    .home-s2_map {
        border: none;
        width: 100%;
        display: block;
        margin: 3vh auto auto auto;
        height: 80vh;

    }

}

@media (min-width:649px) and (max-height:400px) {

    .home {
        overflow: hidden;
        position: relative;
    }

    .home_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25px;
        position: relative;
    }

    .home_name {
        font-family: montserrat-black;
    }

    .home_name span {
        font-family: montserrat-regular;
        font-size: 28px;
    }


    .home_header_search-input {
        width: 225px;
        position: absolute;
        top: 8px;
        right: 40px;
        border-radius: 25px;
        border: 1px solid rgb(187, 187, 187);
        z-index: 5;
        height: 31px;
        font-size: 16px;
        padding: 6px;
    }

    .home_login-icon {
        transform: rotate(180deg);
        font-size: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 5px 1px rgb(54, 54, 54);
        color: #000000;
        padding: 4px;
        border-radius: 50px;
        position: relative;
        right: 45px;
        top: 6px;
    }

    .home_logout-icon {
        font-size: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 5px 1px rgb(54, 54, 54);
        color: #000000;
        padding: 4px;
        border-radius: 50px;
        position: relative;
        right: 45px;
        top: 6px;
    }

    .home_logout-icon:active {
        opacity: 85%;
        padding: 6px;
        font-size: 23px;
    }


    .home_circle_container {
        border: 2px solid black;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        position: absolute;
        right: -80px;
        top: -75px;
    }

    .home_circle_content {
        position: relative;
        top: 130px;

    }

    .home_userPhoto {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 0px 2px rgb(255, 255, 255);
    }

    .home_userAvatar {
        width: 150px;
        border-radius: 50%;
    }

    .home_circle-1 {
        position: absolute;
        top: 32vh;
        right: 28vw;
        color: #604001;
        background-color: #604001;
    }

    .home_content {
        margin-top: 50px;
        padding: 25px;
        font-size: 17px;
    }

    .home_content_sectino-2_img {
        width: 215px;
        transform: rotatey(180deg);
        position: absolute;
        right: 15vw;
        bottom: 0;
        z-index: 8;
    }

    .home_content_section-2-header {
        margin-top: 147px;
        width: 170px;
        font-size: 18px;
        margin-left: 10vw;
    }

    .home_content_section-2_link-group {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 10vw;

    }

    .home_content_username {
        font-weight: bold;
    }

    .home-content-slogan {
        font-size: 18px;
    }

    .home-content-slogan span {
        font-weight: bold;
    }

    .home_no-user-crete-link {
        text-decoration: none;
        color: #ffffff;
        position: relative;
        top: 30px;
        left: -5px;
        background-color: #fa800e;
        padding: 8px 10px 8px 10px;
        font-weight: bold;
        font-weight: bold;
        font-size: 18px;
        border-radius: 25px;
    }

    .home_no-user-crete-link:hover {
        background-color: #b15500;
        font-size: 19px;
        padding: 9px 10px 9px 10px;

    }

    .home_content-link-group {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 150px;
    }

    .home_content-Link {
        text-decoration: none;
        font-size: 17px;
        color: #ffa229;
        font-family: montserrat-light;
        font-weight: bold;

    }




    .home_section-2_user-links::first-letter {
        text-transform: capitalize;
    }

    .home_section-2_user-links {
        text-decoration: none;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 25px;
        color: #5c420f;
        font-weight: bold;
        font-family: montserrat-light;
        width: 25px;

    }


    .home_search-ico__active {
        position: absolute;
        top: 7px;
        right: 41px;
        border-radius: 0 25px 25px 0;
        font-size: 21px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 4px;
        z-index: 11;

    }
}

@media (max-width:649px) {
    .home_logo {
        display: none;
    }

    .home {
        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(230, 233, 230) 63%, rgba(255, 255, 255, 1) 100%);
        padding-bottom: 14vh;
    }

    .mbid {
        display: none;
    }

    .home_circle_container {
        display: none;
    }

    .home_header {
        padding-top: 20px;
    }

    .db-n-mb {
        display: none;
    }

    .home_name {
        font-family: montserrat-black;
        font-size: 40px;
    }

    .home_name span {
        font-family: montserrat-regular;
        font-size: 35px;
    }

    .home_logo {
        width: 125px;
    }

    .home main {
        margin-left: 30px;
    }

    .home_slogan {
        margin: 7vh 0 20px 0px;
        font-size: 35px;
        width: 90vw;
        color: #ffa229;
    }

    .home_section-1-header {
        font-weight: bold;
        color: rgb(255, 169, 41);

        font-size: 20px;
    }

    .home_sectio-1-main {
        font-display: 18px;
        width: 85vw;
        margin-top: 5px;
    }

    .home_section-1-btn {
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-size: 18px;
        color: rgb(27, 27, 27);
        /* color: #000000; */
        text-decoration: underline;
    }

    .hom_section-1-img {
        width: 100%;
        margin-left: -15px;
        margin-top: 5vh;
    }

    .home_header header {
        display: flex;
        justify-content: space-between;
        margin: 0 10vw 5vh 10vw;
        align-items: center;
    }

    .home_burger-menu-icon {
        font-size: 30px;
        position: fixed;
        top: 30px;
        right: 30px;
        background-color: rgba(255, 255, 255, 0.26);
        border-radius: 50%;
        padding: 3px;
    }

    .home-page-second-section {
        padding-top: 13vh;
        background: rgb(248, 250, 248);
        background-color: #9CC0F9;
    }

    .s2_header {
        margin-left: 5vw;
        font-size: 28px;
        width: 80vw;
        font-family: montserrat-bold;
        color: white;
    }

    .home-s2_map {
        border: none;
        margin-top: 50px;
        width: 100%;
        display: block;
        margin: 4vh auto auto auto;
        height: 80vh;

    }



}




.home_trafic-teller {
    font-weight: bold;
    margin-bottom: 7vh;
}

.home_trafic__high {
    color: red;
}

.home_trafic__low {
    color: rgb(0, 207, 79);
}

.home_trafic__normal {
    color: rgb(0, 233, 89);
}

.dnaTree {
    width: 100%;


}

.home-page-third-section {
    width: 100%;
    background-color: rgb(241, 241, 241);
    padding-top: 20vh;
    padding-bottom: 18vh;
}

.home-third_header {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10vw;
}

.home-third_sub-header {
    margin-left: 10vw;
    margin-top: 1vh;
    color: rgb(59, 59, 59);
}

.home-third_sub-header-link {
    font-weight: bold;
    color: rgb(255, 169, 41);
    text-decoration: underline;
}

.copy-right-footer {
    background-color: rgb(241, 241, 241);
    background: linear-gradient(0deg, rgb(151, 151, 151) 10%, rgb(241, 241, 241) 90%);
    padding-bottom: 70px;
    font-size: 15px;
    text-align: center;

}

.copy-right-ico {
    position: relative;
    top: 2.5px;
    margin-right: 2px;
}