.my-orders_header {
    display: flex;
    gap: 10px;
    margin: 15px 0 0 20px;
    align-items: center;
    font-size: 20px;
}

.my-orders_back-ico {
    font-size: 25px;
    color: #ffa229;
    margin: 15px 0 0 17px;
}

.my-orders_main_header {
    margin: 8vh 20px;
    color: #ffa229;
}

.my-orders-input-div {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.my-orders_search-input {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 25px;
    height: 40px;
    width: 75vw;
    max-width: 400px;
    font-size: 20px;
    font-family: montserrat-light;
    padding: 15px;
}

.my-orders_search-input:focus {
    outline: none;
    border: 2px solid black;
}

.my-orders-order-link {
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px 1px rgb(228, 228, 228);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.my-orders-order-link span {
    font-weight: 100;
    color: rgb(194, 194, 194);
    margin-left: 50px;
}

.userOrder-viw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    height: 50px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.userOrder-viw p {
    margin-top: 5px;
}

.userOrder-view-star {
    font-size: 25px;
    color: rgb(44, 44, 44);
    position: relative;
    left: 5px;
    z-index: 500;
    top: 2px;
    transition: ease-in-out 0.5s;


}

.userOrder-view-star__active {
    color: #ff9100;
    font-size: 25px;
    position: relative;
    left: 5px;
    top: 2px;
    transform: rotate(180deg);
    transition: ease-in-out 0.5s;

}

.order-container-containe {
    display: flex;
    align-items: center;
}

.userOrder-id-div {
    margin-left: -20px;
}



.userOrder-view-small-details {
    font-size: 13px;
    text-align: right;
}

.userOrder-view-items-num {
    font-weight: bold;
    position: relative;
    top: -3px;
    color: rgb(65, 129, 89);
}

.userOrder-id {
    font-weight: bold;
}

.userOrder-status {
    font-family: montserrat-light;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.userOrder-status-open {
    color: rgb(0, 228, 114);
    font-weight: bold;


}

.my-orders_delete-ico {
    color: rgb(255, 151, 31);
    font-size: 25px;
    position: absolute;
    top: 14px;
    right: 20px;

}

.my-orders-deletion-filter__hid {
    display: none;
}

.my-orders-deletion-filter__vis {
    display: block !important;
    position: fixed;
    background-color: rgba(5, 5, 5, 0.295);
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.my-orders-delete-msg {
    width: 75vw;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    color: black;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 25px;
    box-shadow: 0 0 30px 1px rgb(138, 138, 138);
    border: 2px solid rgb(255, 155, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 500000  ;
}

.my-orders-delete-msg p {
    margin-top: 10vh;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 7vh;
}
.my-orders-delete-msg button {
    border-radius: 25px;
    background-color: rgb(255, 163, 42);
    border: none;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin: 7px;
}
.my-orders_x-icon{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 17px;
}