.order_header {
    margin-left: 20px;
    margin-bottom: 30px;
}

.order_bakc-btn {
    font-size: 27px;
    position: absolute;
    top: 30px;
    right: 20px;
    color: rgb(255, 115, 0);

}

.order-nav_containre {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: 25px;
    font-weight: bold;

}

.nav_tap-container {
    position: relative;
    color: rgb(255, 115, 0);
}

.order-nav_orders-num {
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 12px;
    text-decoration: underline;

}

.ordersList-container {
    margin-top: 25px;
}

.order_cat_name {
    font-weight: bold;
    opacity: 55%;
    color: rgb(58, 58, 57);
}

.order-container {
    display: grid;
    grid-template-columns: 5vw 8vw 40vw 8vw;
    gap: 7vw;
    justify-content: center;
    padding: 8px;
    border-bottom: 1px solid whitesmoke;
}

.order_time {
    text-align: center;
}

.order_checkOut-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: rgb(56, 51, 51);
}

.order_search-ico {
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 65px;
    color: rgb(255, 102, 0);

}

.orders_search-input {
    margin-bottom: 30px;
    margin-top: -5px;
    border: none;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(223, 213, 213);
    font-size: 17px;
    width: 220px;


}

.orders_search-input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.orders_search-input-div {
    margin-left: 32px;
}

.orders_archive-ico {
    color: rgb(0, 0, 0);
    font-size: 8px;
    position: absolute;
    right: 22px;
    top: 116px;
    font-size: 20px;
}

.orders_confirmation-archive-msg{
    display: none;
}
.orders_confirmation-archive-msg-bg{
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 6;
}
.orders_confirmation-archive-msg__active{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px rgb(124, 123, 123);
    border-radius: 25px;
    position: absolute;
    padding: 25px;
    display: grid;
    width: 70%;
    top: 35vh;
    height: 15vh;
    left: 8%;

 
}
.orders_confirmation-archive-msg__active button{
    background-color: transparent;
    border: none;
}
.msg_confirm_btn-accept{
    color: rgb(0, 170, 65);
    cursor: pointer;
}
.msg_confirm_btn-cancel{
    color: red;
    cursor: pointer;
}