.ledger_home-icon {
    position: absolute;
    right: 20px;
    top: 32px;
    font-size: 30px;
    color: rgb(255, 140, 198);
}

.cashier-system-orders {
    position: absolute;
    right: 60px;
    top: 36px;
    font-size: 24px;
    color: rgb(255, 140, 198);
}





@media (min-width:950px) {
    .ledger-first-page-container {
        overflow: hidden;
        min-height: 100vh;
    }
    .ledger_name {
        margin-top: 35px;
        text-align: center;
        font-family: montserrat-black;
        font-size: 45px;
    }

    .ledger_ledgerPhoto {
        position: absolute;
        bottom: 0px;
        width: 30%;
        transform: rotatey(180deg);
        z-index: -1;
        right: 100px;
    }

    .ledger_ledgerPhoto::-webkit-scrollbar-track {
        background: rgb(247, 247, 247) !important;

    }

    .ledger_user-photos {
        margin-top: 20px;
        margin-left: -25px;
        display: flex;
        overflow-x: auto;
        max-width: 100vw;
        padding-bottom: 15px;
    }

    .ledger-user-inspace-photo {
        width: 100px;
        height: 100px;
        margin: 2px;
        border-radius: 50%;
        border: 2px solid rgb(0, 255, 136);
        position: relative;
        left: 10px;
    }


    .ledger_order-id-div {
        position: relative;
        left: -97px;
        top: 2px;
    }

    .ledger_order-id {
        margin: 2px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.199);
        color: rgba(255, 255, 255, 0.678);
        font-weight: bold;
        width: 100px;
        font-family: monstserrat-black;
        height: 100px;
        font-size: 40px;
        z-index: 2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ledger_order-id:hover {
        background-color: rgba(221, 221, 221, 0.116);
        font-size: 0;
        transition: ease-in-out .7s;
    }

    .ledger {
        margin: 25px;
        font-size: 18px;
        z-index: 50;

    }

    .ledger-2-sec {
        background-color: rgb(255, 169, 40);
        width: 100%;
        height: 150px;
        margin-top: -25px;
        color: white;
        font-size: 100px;
    }

}

@media (max-width:949px) {
    .ledger-first-page-container {
        overflow: hidden;
        min-height: 70vh;
    }
    .ledger_name {
        margin-top: 25px;
        text-align: center;
        font-family: montserrat-black;
        font-size: 35px;
    }

    .ledger_ledgerPhoto {
        position: absolute;
        bottom: 0px;
        width: 55%;
        transform: rotatey(180deg);
        z-index: -1;
        right: 0;
    }

    .ledger_user-photos {
        margin-top: 20px;
        margin-left: -25px;
        display: flex;
        overflow-x: scroll;
        width: 100vw;
        padding-bottom: 15px;
    }


    .ledger-user-inspace-photo {
        width: 60px;
        height: 60px;
        margin: 2px;
        border-radius: 50%;
        border: 2px solid rgb(0, 255, 136);
        position: relative;
        left: 10px;
    }

    .ledger-user-inspace-name{
        font-size: 13px;
        position: relative;
        left: 13px;
    }

    .ledger_order-id-div {
        position: relative;
        left: 12px;
        top: -82px;
    }

    .ledger_order-id {
        margin: 2px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.199);
        color: rgba(255, 255, 255, 0.678);
        font-weight: bold;
        width: 60px;
        font-family: monstserrat-black;
        height: 60px;
        font-size: 30px;
        z-index: 2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ledger {
        margin: 25px;
        font-size: 14px;
        z-index: 50;

    }

    .ledger-2-sec {
        background-color: rgb(255, 169, 40);
        width: 100%;
        height: 150px;
        margin-top: 25px;
        color: white;
        font-size: 100px;
    }

}




.ledger_welcome {
    font-weight: bold;
}



.ledger_open-orders-num {
    width: 80%;
    margin-left: 5px;
}

.ledger_orders-header {
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 5px;
}

.ledger_day-total-div {
    margin-bottom: 20px;
    z-index: 10;
    position: relative;
}

.ledger_day-total-header {
    font-weight: bold;
}

.ledger_day-total-num {
    margin-left: 5px;
    margin-top: 2px;

}

.ledger_day-total-num span {
    font-weight: bold;
    color: rgb(43, 31, 13);
}

.ledger_prople-tkts {
    margin-top: 50px;
    font-weight: bold;
    width: 55%;
}

.ledger_day-total-div__open::before {
    content: ".";
    background-color: rgb(0, 255, 98);
    height: 8px;
    overflow: hidden;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 7px;
}
.ledger_day-total-div__closed::before {
    content: ".";
    background-color: rgb(255, 176, 29);
    height: 8px;
    overflow: hidden;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 7px;
}
.ledger_trafic__normal{
    color: rgb(0, 255, 85);
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}
.ledger_trafic__high{
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}
.ledger_trafic__low{
    color: rgb(255, 145, 0);
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}