* {
    margin: 0;
    padding: 0;
    font-family: montserrat-regular;
}

/*temp */

.flex {
    display: flex;
}


@media (min-width:720px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(150, 150, 150);

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(128, 128, 128);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(85, 85, 85);
    }
}

@media (max-width:719px) {
    ::-webkit-scrollbar {
        display: none;
    }
}
.events-container p {
    font-weight: bold;
    margin-left: 10vw;
    margin-top: 30vh;
    
}
.event_swap-ico{
    font-size: 30px;
    /* padding: 5px ;
    border: 1px solid #ffa229;
    border-radius: 50%; */
    color: #ffa229;
    position:absolute;
    right: 36px;
    top: 32px;
}

a{
    text-decoration: none;
}
.footer {
    background-color: rgb(241, 241, 241);
    background: linear-gradient(0deg, rgb(151, 151, 151) 10%, rgb(241, 241, 241) 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
}
.copy-right-footer {
    padding-bottom: 70px;
    font-size: 11px;
    text-align: center;
    margin-top: -10px;

}

.copy-right-ico {
    position: relative;
    top: 1.5px;
    margin-right: 2px;
}