* {
    margin: 0;
    padding: 0;
    font-family: montserrat-regular;
}

/*temp */

.flex{
    display: flex;
}

@media (min-width:720px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(150, 150, 150);
    
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(128, 128, 128);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(85, 85, 85);
    }
}
@media (max-width:719px) {
    ::-webkit-scrollbar {
        display: none;
    }
}