* {
    margin: 0;
    padding: 0;
    font-family: montserrat-regular;
}

/*temp */

.flex {
    display: flex;
}


@media (min-width:720px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(150, 150, 150);

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(128, 128, 128);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(85, 85, 85);
    }
}

@media (max-width:719px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

/* .events-container p {
    font-weight: bold;
    margin-left: 10vw;
    margin-top: 30vh;

} */

.dahsboard-commform-img-containet {
    position: relative;
    width: 250px !important;
    border-radius: 50%;
    height: 250px;
    display: block;
    margin: 10vh auto auto auto;
    overflow: hidden !important;
    border: 1px solid black;

}

.dashboard_commform-answer_user-img-2 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}