@media (max-width:950px) {

    .pos_nav,
    .pos_home-btn-contain {
        display: none;
    }

    .pos_mb-cart-btn-icon {
        background-color: transparent;
        border: none;
        font-size: 32px;
    }

    .pos_mb-cart-btn {
        right: 20px;
        top: 26px;
        position: absolute;
        z-index: 2;
        background-color: transparent;
        border: none;
    }

    .nav_cart-ico-container {
        position: relative;
    }

    .nav-cart-length {
        position: absolute;
        right: -3px;
        top: -3px;
        background-color: rgb(255, 0, 0);
        color: white;
        border-radius: 50%;
        font-size: 12px;
        width: 15px;
        height: 15px;

    }

    .nav_order-ico {
        width: 29px;
        right: 15px;
        top: -3px;
        position: relative;
    }

    .nav_order-ico-num-length {
        background-color: red;
        width: 15px;
        height: 15px;
        font-size: 12px;
        text-decoration: none;
        color: white;
        position: absolute;
        border: none;
        right: 40px;
        top: -3px;
        z-index: 2;
        border-radius: 50%;
    }

}

@media (min-width:951px) {

    .pos_mb-cart-btn {
        display: none;
    }

    .pos_nav {
        background-color: #ffffff;
        width: 75px;
        height: 100vh;
        position: fixed;
        box-shadow: 0 0 10px 1px rgb(214, 214, 214);

    }

    .pos_home-btn-contain {
        background-color: #ffffff;
        position: absolute;
        top: 75px;
        left: 10px;
        width: 65px;
        padding: 10px 20px 10px 10px;
        border-radius: 15px;
        box-shadow: -5px 2px 7px -2px rgb(207, 207, 207);

    }


}

.pos_NavLink {
    font-size: 22px;
    color: black;
}



.pos_home-btn-contain:hover {
    cursor: pointer;

}

.pos_home-link {
    text-align: center;
    font-size: 35px;
    color: #000000;
    background-color: #fa800e;
    padding: 10px;
    border-radius: 10px;
}

.pos_home-link:hover {
    font-size: 36px;
    color: rgb(88, 88, 88)
}

.pos_link-group {
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: montserrat-light;
    row-gap: 80px;
}

.pos_NavLink:hover {
    letter-spacing: 1px;
    cursor: pointer;
    color: gray;


}

.pos_logo {
    width: 10px;
}