@media (max-width:851px) {
    .tkts-page-container{
        width: 100vw;
        height: 100%;
        overflow: hidden;
    }
    .tkts-page_img{
        width: 90%;
        position: absolute;
        left: 0 ;
        right: 0;
        margin: auto;
        bottom: 90px;
        border-radius: 25px;
    }
    .tkts-page_head{
        font-weight: bold;
        font-size: 25px;
        margin: 32px;
    }
    .tkts-page_sub-head{
        margin-left: 30px;
        margin-top: 12vh;
    }
    .tkts-profile-link{
        text-decoration: none;
        color: white;
        background-color: rgb(255, 158, 46);
        padding: 5px;
        font-size: 18px;
        position: relative;
        top: 25px;
        left: 30px;
        border-radius: 25px;
    }
    
}
@media (min-width:852px) {
    .tkts-page-container{
        width: 100vw;
        height: 100%;
        overflow: hidden;
    }
    .tkts-page_img{
        width: 37%;
        position: absolute;
        right: 10vw;
        bottom: 5vh;
        border-radius: 25px;
    }
    .tkts-page_head{
        font-weight: bold;
        font-size: 25px;
        margin: 32px;
        position: relative;
        left: 5vw;
    }
    .tkts-page_sub-head{
        margin-left: 7vw;
        margin-top: 25vh;
        width: 45vw;
        font-size: 30px;
        font-weight: bold;
        
    }
    .tkts-profile-link{
        text-decoration: none;
        color: white;
        background-color: rgb(255, 158, 46);
        padding: 10px;
        font-weight: bold;
        font-size: 25px;
        position: relative;
        top: 25px;
        left: 6.5vw;
        border-radius: 25px;
    }
    
}