.auth-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 15px 0 15px;
}

.auth_content {
    width: 80vw;
    z-index: 1;
    display: grid;
    justify-content: center;
}

.auth_form {
    width: 100%;
    max-width: 500px;
}

.auth_back-arr {
    position: absolute;
    top: 3vh;
    left: 4vw;
    font-size: 25px;
    background-color: #00ff88;

    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px;
    text-decoration: none;

}

.auth_back-arr:hover {
    font-size: 26px;
    padding: 5px;
    cursor: pointer;
    background-color: #04da76;

}

.passIco {
    font-size: 20px;
    position: relative;
    bottom: 3px;
    color: #126840;
}


.auth_header {
    position: relative;
    text-align: center;
    font-family: lato;
    font-size: 30px;
    margin-bottom: 20px;
}


@media (max-width:400px) {
    .auth_header {
        bottom: 8vh;
    }

    .imginlogin {
        position: absolute;
        background-image: url('../../assets/auth.png');
        height: 50vh;
        width: 100vw;
        bottom: 0;
        background-size: cover;
        left: 0;
        background-position: center;
    }


}

.auth_label {
    font-family: lato;
    font-size: 22px;
    position: relative;
    outline: 1px black;
    color: rgb(0, 0, 0);
}

.auth_input {
    height: 45px;
    padding: 5px;
    font-size: 22px;
    border: 1px solid rgb(207, 198, 198);
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 100%;
}


.auth_input:focus {
    box-shadow: 0px 0px 2px 1px rgb(0, 153, 255);
    outline: none;
}

.auth_input:do .auth_btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.auth_submit-btn {
    background-color: #00ff88;
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 5px;
    height: 50px;
    align-items: center;
    border: none;
    display: flex;
    width: 100%;
    border-radius: 10px;

    justify-content: center;
    margin-top: 40px;

}

.auth_submit-btn:hover {
    font-size: 26px;
    cursor: pointer;
    background-color: #02d673;


}

.auth_footer {
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 15px;
    color: white;

}

.auth_footer-btn {
    color: #00ff88;
    font-size: 22px;
    text-decoration: none;


    font-weight: 600;

}

.auth_err {
    text-align: center;
    font-family: lato;
    font-size: 22px;
    margin: 25px;
    color: rgb(48, 42, 42);
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.521);
    border-radius: 3px;
    text-decoration: none;
}

.auth_forgot-pass {
    color: #00ff88;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
    font-weight: 600;
    font-family: lato;


}

.auth_show-password-btn {
    position: absolute;
    right: 15px;
    top: 30px;

    background-color: transparent;
    border: none;
    font-family: sans-serif;
    color: #2f3331;
    font-size: 14px;
    cursor: pointer;

}

.auth_show-password-btn:active {
    font-size: 15px;
    cursor: pointer;
}

.imginlogin {
    position: absolute;
    background-image: url('../../assets/auth.png');
    height: 50vh;
    width: 100%;
    bottom: 0;
    background-size: cover;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 600px;
    background-position: center;
}